@model RpshopingMvc.Models.goods

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutBackground.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>goods</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GoodsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zkprice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zkprice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmallImages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmallImages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetailPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodsType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodsType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesVolume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesVolume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncomeRatio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncomeRatio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brokerage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brokerage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrokerageExplain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrokerageExplain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postage)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
